header.navbar{
    overflow-x: hidden;
    nav{
        background: #63a583;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        h3{
            padding: 1.5rem;
            font-weight: 600;
            margin-left: 3rem;
        }
        .logo{
            height: 30px;
            animation: waving 1.1s ease-in-out infinite alternate;
        }
        div ul{
            display: flex;
            margin-right: 3rem;
            margin-top: 0.7rem;
            
            
            .creatRecipe{
                a{
                    border: 2px solid #064931;
                    border-radius: 5px;
                    padding: 0.1rem 0.5rem;
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    background: #064931;
                    color: #FFF;
                }
            }

            li{
                a{
                    margin-right: 1.5rem;
                    letter-spacing: 1px;
                    border: 2px solid #064931;
                    border-radius: 5px;
                    padding: 0.1rem 1.1rem;
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    
                    .awesomeBtn{
                        font-size: 0.95rem;
                        color: #064931;
                    }
                }
            }
        }
        .hamburgerMenu{
            position: absolute;
            right: 2rem;
            top: 1.7rem;
            font-size: 1.7rem;
            color: #064931;
            display: none;
        }
        .toggelMenu{
            display: none;
        }
    }
}

@keyframes waving {
    0%{
        transform: rotate(-15deg)
    }
    100%{
        transform: rotate(25deg);
    }
}

// media query 740px
@media (max-width:740px){
    header.navbar nav{
        flex-direction: column;
        
        .creatRecipeMenu{
            transition: all 1s ease-in;

            ul{
                width: 100%;
                flex-direction: column;
                margin-right: 0;
                transition: display 1s ease-in;
                position: absolute;
                background: #63a583;
                top: 76px;
                left: -1000px;
                transition: all 0.5s linear;
                z-index: 9999;

                li{
                    margin: 1rem auto;
                }
            }
        }
            
            .hamburgerMenu{
                display: block;
            }
            .toggelMenu:checked + .creatRecipeMenu ul{
                left: 0;
            } 
        
    }
}