html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

// import google font
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato&family=Nunito&display=swap');


// global styling
html{
    font-size: 125%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}
p,a,li{
    font-family: 'Nunito', sans-serif;}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

// header section
header{
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.8), rgba(99,165,131, 0.8)) ,url(./assets/art-1.jpg) center/cover no-repeat;
    box-shadow: 0 1px 5px #35423c;
    height: 100vh;
    nav{
        background: #63a583;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        h3{
            padding: 1.5rem;
            font-weight: 600;
            margin-left: 3rem;
        }
        .logo{
            height: 30px;
        }
    }
    article{
        height: 65vh;
        position: relative;
        div{
            margin-top: 4rem;
            h1{
                font-family: 'Indie Flower', cursive;
                text-align: center;
                font-weight: bold;
                margin-top: 0.5rem;
            }
            h1.animation-left{
                animation: slidingleft 5s ease-in 1;
            }
            h1.animation-right{
                animation: slidingRight 5s ease-in 1;
            }
            h1.animation-center{
                animation: opacitty 5s ease-in 1;
            }
        }
    }
    form{
        text-align: center;
        margin-top: 5rem;
        
        .errorMessage{
           letter-spacing: 1px;
           text-align: center;
       }
        input[type="text"]{
            border: none;
            display: block;
            width: 50%;
            height: 3rem;
            margin: 0 auto;
            font-size: 1.3rem;
            border-radius: 10px;
            box-shadow: 0 0 5px rgb(32, 54, 43);
            padding-left: 1rem;
            &::placeholder{
                letter-spacing: 2px;
                padding-left: 1rem;
                color: #1b4b32cc;
            }
        }
        button {
            display: inline-block;
            padding: 0.5rem 0.9rem;
            background-color:#63a583;
            color: #1d322b;
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: .15rem;
            transition: all .3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            margin-top: 2rem;
            border-radius: 10px;
            border: 2px solid #1d322b;
            font-weight: 700;
            cursor: pointer;
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #63a583;
                z-index: -2;
            }
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background-color: #245c48;
                transition: all .3s;
                z-index: -1;
            }
            &:hover {
                color: #fff;
                &:before {
                width: 100%;
                }
            }
        }
    }
    .scrollToSectionArrow{
        text-align: center;
        margin-top: 2rem;
        .downArrow{
            font-size: 4rem;
            color: #064931;
            animation: upAndDown 0.5s ease-in-out alternate infinite;
            cursor: pointer;
        }
    }
}
// main section
section{
    background-color: #e7f1ee;
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li{
            width: 35%;
            margin:0 1rem;
            align-content: center;
            margin-top: 2rem;
            background: #a2bbaf;
            box-shadow: 0 0 5px #245c48;
            border-radius: 5px;
            position: relative;
            &:hover{
                transform: scale(1.002);
            }
            img{
                width: 100%;
            }
            h3,
            h4{
                padding: 0 1rem;
                color: #35423c;
            }
            p{
                padding: 0 1rem;
                color: #1d322b;
            }
            a{
                letter-spacing: 1px;
                color: white;
            }
            button {
                background: #245c48;
                margin: 0 1rem 1rem 1rem;
                padding: 0.5rem 0.7rem;
                border-radius: 7px;
                font-size: 1rem;
                font-weight: 500;
                color: #fff;
                cursor: pointer;
                text-align:center;
                border: none;
                background-size: 300% 100%;
                transition: all .4s ease-in-out;
                background-image: linear-gradient(to right, #219a70, #1d4135,  #245c48, #10804a);
                box-shadow: 0 4px 10px 0 rgba(36, 96, 71, 0.75);
                &:hover {
                    background-position: 100% 0;
                    transition: all .4s ease-in-out;
                }
            }
            .saveButton{
                position: absolute;
                bottom: 25px;
                right: 15px;
                color: #245c48;
                font-size: 1.7rem;
                border-radius: 5px;
                cursor: pointer;
            }
            
        }   
    }


    .goToTopSpoon{
        font-size: 3rem;
        background-color: #245c48;
        color: #a2bbaf;
        position: fixed;
        right: 0;
        bottom: 40px;
        padding: 0.7rem;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.5s ease-in-out;
        z-index: 111;
        &:hover{
            transform: rotate(-45deg) ;
        }
    }
}
// btn find another recipe
.find-another-recipe{
    text-align: center;
    padding: 2rem 0;
   a{
       padding: 0.4rem 0.75rem;
       border: 3px solid #245c48;
       background: #245c48;
       border-radius: 5px;
       letter-spacing: 1px;
       color: white;
       &:hover{      
           color: #1d4135;
           background-color: #a2bbaf;
           border: 3px solid #245c48;
       }
   }
}
footer{
    background: #245c48;
    text-align: center;
    p {
        padding: 0.5rem 0;
        margin: 0;
        a{
            color: white;
        }
    }
}

@keyframes slidingRight {
    0%{
        transform: translate(1000px);
        opacity: 0;
    }
    50%{
        transform: translate(-300px);
        opacity: 0.5;
    }
    75%{
        transform: translate(75px);
        opacity: 0.7;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes slidingleft {
    0%{
        transform: translate(-1000px);
        opacity: 0;
    }
    50%{
        transform: translate(200px);
        opacity: 0.5;
    }
    75%{
        transform: translate(-75px);
        opacity: 0.7;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
@keyframes opacitty {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes upAndDown {
    0%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(10px);
    }
}

@media (max-width:810px) {
    section{
        ul{
            li{
                width: 40%;
                margin:1rem 1.3rem;
            }
        }
    }
    
}
@media (max-width:700px) {
    header {
        form{
            input[type="text"]{
                width: 70%;
            }
        }
        .scrollToSectionArrow{
            margin-top: 1rem;
        }
    }
    section{
        ul{
            display: flex;
            justify-content: center;
            li{
                width: 65%;
            }
        }
    }
}
@media (max-width:550px) {
    header {
        form{
            input[type="text"]{
                width: 90%;
            }
        }
        .scrollToSectionArrow{
            margin-top: 1rem;
        }
    }
    section{
        ul{
            display: flex;
            justify-content: center;
            li{
                width: 90%;
                margin: 1rem 0 ;
            }
        }
    }
}

